
<form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">
  <h4>email</h4>
  <input formControlName="title">
  <br>
  <span *ngIf="title.invalid && title.touched">
      This Field is Required
  </span>
  <h4>message</h4>
  <textarea formControlName="message"></textarea>
  <br>
  <span *ngIf="message.invalid && message.touched">
      This Field is Required
  </span>
  <button [disabled]="myForm.invalid">Let's Do it!</button>
</form>
<div *ngIf="success">
    Yay! We received your submission
</div>
<ul>
    <li *ngFor="let item of items | async">
        <pre>{{ item | json }}</pre>
    </li>
</ul>
