<div>
<form [formGroup]="myForm"  (ngSubmit)="submitHandler()">
  <br>
    <div class = "container-fluid" style="background-color:#ffff66;">
  <h2>Connect in the Forum!</h2>
  </div>
  <h4>Title</h4>
  <input formControlName="title">
  <br>
  <span *ngIf="title.invalid && title.touched">
      This Field is Required
  </span>
  <h4>Message</h4>
  <textarea formControlName="message"></textarea>
  <br>
  <span *ngIf="message.invalid && message.touched">
      This Field is Required
  </span>
  <br>
  <button class="btn btn-primary" [disabled]="myForm.invalid">Post</button>
  <span *ngIf = "message.invalid && title.invalid">
    Must include Title and Message
  </span>
</form>
</div>

<h2>Forum</h2>

<ul>
    <li *ngFor="let item of items | async">
      
      <p>{{item.title}}</p>  
      <pre>{{item.message}}</pre>
      <button class="btn btn-primary">Reply</button>
    </li>
</ul>
