
<form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">
  <h4>Title</h4>
  <input formControlName="title">
  <br>
  <span *ngIf="title.invalid && title.touched">
      This Field is Required
  </span>
  <h4>Message</h4>
  <textarea formControlName="message"></textarea>
  <br>
  <span *ngIf="message.invalid && message.touched">
      This Field is Required
  </span>
  <button [disabled]="myForm.invalid">Submit</button>
</form>
<h2>Freedom Forum</h2>
<ul>
    <li *ngFor="let item of items | async">
      
      <p>{{item.title}}</p>  
      <pre>{{item.message}}</pre>
    </li>
</ul>
